* {
    box-sizing: border-box;
}


body {
    background-color: #fef4ad;
    animation: change-background 3s infinite linear;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 140vh;
}
html {
    overflow-y: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #673C63;
    color: white;
    border-bottom: 2px solid black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Lobster';
    letter-spacing: 2px;
}

.brand-title a{
    text-decoration: none;
    color: white;
}

.brand-title a:hover {
    color:#fef4ad;
}

.brand-title:hover {
    color:#fef4ad;
    cursor: pointer;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(128, 127, 127);
    color:#fef4ad;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.toggle-button .bar:hover {
    color: #fef4ad;
}

html {
    overflow-x: hidden;
}



.wrapper {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: scale(1.5,1.5) translate(-50%, -50%);

   
}

.floor {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 5px;
    background: #673C63;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px #111;
    z-index: 2;
}

.candles {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 150px;
    transform: translate(-50%, -100%);
    z-index: 1;
}

.candle1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35px;
    height: 100px;
    background: #fff;
    border: 3px solid #673C63;
    border-bottom: 0px;
    border-radius: 3px;
    transform-origin: center right;
    transform: translate(60%, -25%);
    box-shadow: -2px 0px 0px #95c6f2 inset;
    animation: expand-body 3s infinite linear;
}

.candle1__stick, .candle2__stick {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 3px;
    height: 15px;
    background: #673c63;
    border-radius: 8px;
    transform: translate(-50%, -100%);
}

.candle2__stick {
    height: 12px;
    transform-origin: bottom center;
    animation: stick-animation 3s infinite linear;
}

.candle1__eyes, .candle2__eyes {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 35px;
    height: 30px;
    transform: translate(-50%, 0%);
}

.candle1__eyes-one {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #673c63;
    transform: translate(-70%, 0%);
    animation: blink-eyes 3s infinite linear;
}

.candle1__eyes-two {
    position: absolute;
    left: 70%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #673C63;
    transform: translate(-70%, 0%);
    animation: blink-eyes 3s infinite linear;
}

.candle1__mouth {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 0px;
    height: 0px;
    border-radius: 20px;
    background: #673C63;
    transform: translate(-50%, -50%);
    animation: uff 3s infinite linear;
}

.candle__smoke-one {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 30px;
    height: 3px;
    background: grey;
    transform: translate(-50%, -50%);
    animation: move-left 3s infinite linear;
}

.candle__smoke-two {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: grey;
    transform: translate(-50%, -50%);
    animation: move-top 3s infinite linear;
}

.candle2 {
    position: absolute;
    left: 20%;
    top: 65%;
    width: 42px;
    height: 60px;
    background: #fff;
    border: 3px solid #673C63;
    border-bottom: 0px;
    border-radius: 3px;
    transform: translate(60%, -15%);
    transform-origin: center right;
    box-shadow: -2px 0px 0px #95c6f2 inset;
    animation: shake-left 3s infinite linear;
}

.candle2__eyes-one {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0px solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-lower 3s infinite linear;
}

.candle2__eyes-two {
    position: absolute;
    left: 70%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0px solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-greater 3s infinite linear;
}

.light__wave {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 0;
    transform: translate(-25%, -50%) scale(2.5, 2.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: expand-light 3s infinite linear;
}

.candle2_fire {
    position: absolute;
    top: 50%;
    left: 40%;
    display: block;
    width: 16px;
    height: 20px;
    background-color: red;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    background: #f8AE39;
    transform: translate(-50%, -50%);
    animation: dance-fire 3s infinite linear;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:250px;
    width:100%;
 }

 footer {
    background: #111;
    animation: change-background 3s infinite linear;
    color: white;
 }

 .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

 .footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2.5rem;
    font-family: 'Lobster';
    letter-spacing: 2px;
    cursor: pointer;
 }

 .footer-content h3:hover {
    color:#fef4ad;
 }

 .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 10px;
    font-size: 15px;
 }

 .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
 }

 .socials li {
    margin: 0 10px;
 }

 .socials a {
    text-decoration: none;
    color: white;
 }

 .socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
 }

 .socials a:hover i {
    color: #673c63;
 }

 .footer-bottom {
    background: #673C63;
    border-top: 2px solid black;
    width: 100vw;
    padding: 30px 0;
    text-align: center;
    bottom: 0;
 }

 .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }

 .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
 }



 /*
 .footer {
    padding-left: 650px;
 }

 span {
    color: black;
    font-weight: 900;
 }

 

 @media only screen and (max-width: 600px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }
  }

  @media only screen and (max-width: 650px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }
  }

  @media only screen and (max-width: 700px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }

    .hero {

        margin: center;
      width: 50%;
      padding: 10px;
      text-align: center;
     }
  }

  @media only screen and (max-width: 800px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }

    .hero {

        margin: center;
      width: 50%;
      padding: 10px;
      text-align: center;
     }
  }

  @media only screen and (max-width: 900px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }

    .hero {

        margin: center;
      width: 50%;
      padding: 10px;
      text-align: center;
     }
  }
  @media only screen and (max-width: 1000px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }
    .hero {

        margin: center;
      width: 50%;
      padding: 10px;
      text-align: center;
     }
  }

  @media only screen and (max-width: 1100px) {
    .footer {
      padding-left: 100px;
    }
    #footer {
        height: 350px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .footer {
      padding-left: 50px;
    }
    #footer {
        height: 350px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .footer {
      padding-left: 50px;
    }
    #footer {
        height: 350px;
    }

    .hero {

        margin: center;
      width: 30%;
      padding: 2px;
      text-align: center;
     }
    
  }

  @media only screen and (max-width: 1300px) {
    .footer {
      padding-left: 0px;
    }
    #footer {
        height: 350px;
    }
  }
 

 footer h4 {
    color: white;
    
 }



 ul li {
    list-style: none;
    
 }

 ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    
 }

 ul li a:hover {
    color:#fef4ad;
 }

 ul {
    margin-left: -39px;
 }

 small {
    color: white;
 }
 */

 .hero {

    margin: left;
  width: 50%;
  padding: 220px;
  text-align: center;
 }

 @media(max-width:1000px) {
    .hero {
        width: 20%;
        padding: 10px;
    }
}

 p {
    color: white;
    font-size: 15px;
 }

 span {
    color: black;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: Lobster;
 }

 h1 {
    color: #fef4ad;
    
 }

 .home__button{
    display: inline-block;
    background-color: #673C63;
    color: white;
    border: 1px solid white;
    padding: 0.9rem 1.8rem;
    border-radius: 20%;
    text-decoration: none;
    letter-spacing: 3px;
  }

  .home__button:hover {
    color: white;
    background-color: transparent;
  }

  .hero p {
    font-weight: 900;
  }


 


 

 

@keyframes blink-eyes {
    0%, 35% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }
    36%, 39% {
        opacity: 0;
        transform: translate(-70%, 0%);
    }
    40% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }
    50%, 65% {
        transform: translate(-140%, 0%);
    }
    66% {
        transform: translate(-70%, 0%);
    }
}

@keyframes expand-body {
    0%, 40% {
        transform: scale(1, 1) translate(60%, -25%);
    }
    45%, 55% {
        transform: scale(1.1, 1.1) translate(60%, -28%);
    }
    60% {
        transform: scale(0.89, 0.89) translate(60%, -25%);
    }
    65% {
        transform: scale(1, 1) translate(60%, -25%);
    }
    70% {
        transform: scale(0.95, 0.95) translate(60%, -25%);
    }
    75% {
        transform: scale(1, 1) translate(60%, -25%);
    }
}
@keyframes uff {
    0%, 40% {
        width: 0px;
        height: 0px;
    }
    50%, 54% {
        width: 15px;
        height: 15px;
        left: 30%;
    }
    59% {
        width: 5px;
        height: 5px;
        left: 20%;
    }
    62% {
        width: 2px;
        height: 2px;
        left: 20%;
    }
    67% {
        width: 0px;
        height: 0px;
        left: 30%;
    }
}
@keyframes change-background {
    0%, 59% {
        background: linear-gradient(to left, #fef4ad, #673c63);
    }
    61%, 97%, 98%, 100% {
        background: black;  /*black*/
    }
}
@keyframes move-left {
    0%, 59%, 100% {
        width: 0px;
        left: 40%;
    }
    60% {
        width: 30px;
        left: 30%;
    }
    68% {
        width: 0px;
        left: 20%;
    }
}
@keyframes move-top {
    0%, 64%, 100% {
        width: 0px;
        height: 0px;
        top: 0%;
    }
    65% {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 40%;
    }
    80% {
        width: 0px;
        height: 0px;
        top: 20%;
    }
}
@keyframes shake-left {
    0%, 40% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    50%, 54% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    59% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    62% {
        left: 18%;
        transform: translate(60%, -15%);
    }
    65%{
        left: 21%;
        transform: translate(60%, -15%);
    }
    67% {
        left: 20%;
        transform: translate(60%, -15%);
    }
    75% {
        left: 20%;
        transform: scale(1.15, 0.85) translate(60%, -15%);
        background: #fff;
        border-color: #673C63;
    }
    91% {
        left: 20%;
        transform: scale(1.18, 0.82) translate(60%, -10%);
        background: #f8371d;
        border-color: #f89d96;
        box-shadow: -2px 0px 0px #f85b50 inset;
    }
    92% {
        left: 20%;
        transform: scale(0.85, 1.15) translate(60%, -15%);
    }
    95% {
        left: 20%;
        transform: scale(1.05, 0.95) translate(60%, -15%);
    }
    97% {
        left: 20%;
        transform: scale(1, 1) translate(60%, -15%);
    }
}
@keyframes stick-animation {
    0%, 40% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    50%, 54% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    59% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
    62% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-15deg) translate(-50%, -100%);
    }
    65% {
        left: 50%;
        top: 0%;
        transform: rotateZ(15deg) translate(-50%, -100%);
    }
    70% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-5deg) translate(-50%, -100%);
    }
    72% {
        left: 50%;
        top: 0%;
        transform: rotateZ(5deg) translate(-50%, -100%);
    }
    74%, 84% {
        left: 50%;
        top: 0%;
        transform: rotateZ(0deg) translate(-50%, -100%);
    }
    85% {
        transform: rotateZ(180deg) translate(0%, 120%);
    }
    92% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
}

@keyframes expand-light {
    10%, 29%, 59%, 89% {
        transform: translate(-25%, -50%) scale(0, 0);
        border: 2px solid rgba(255, 255, 255, 0);
    }
    90%, 20%, 50% {
        transform: translate(-25%, -50%) scale(1, 1);
    }
    95%, 96%, 26%, 27%, 56%, 57% {
        transform: translate(-25%, -50%) scale(2, 2);
        border: 2px solid rgba(255, 255, 255, 0.5);
    }
    0%, 28%, 58%, 100% {
        transform: translate(-25%, -50%) scale(2.5, 2.5);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}
@keyframes dance-fire {
    59%, 89% {
        left: 40%;
        width: 0px;
        height: 0px;
    }
    98%, 0%, 7%, 15%, 23%, 31%, 39%, 47%, 55% {
        left: 40.8%;
        width: 16px;
        height: 20px;
        background: #ffc107;
    }
    94%, 3%, 11%, 19%, 27%, 35%, 43%, 51%, 58% {
        left: 41.2%;
        width: 16px;
        height: 20px;
        background: #ff9800;
    }
}
@keyframes changeto-lower {
    0%, 70%, 90% {
        padding: 0px;
        display: inline-block;
        border-radius: 100%;
        background: #673c63;
        border-width: 0 0 0 0;
        border: 0px solid #673c63;
        transform: translate(-90%, 0%);
    }
    71%, 89% {
        background: none;
        border: solid #673C63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(-45deg) translate(-50%, -65%);
        -webkit-transform: rotate(-45deg) translate(-50%, -65%);
    }
}

@keyframes changeto-greater {
    0%, 70%, 90% {
        top: 50%;
        padding: 0px;
        display: inline-block;
        border-radius: 100%;
        background: #673c63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-80%, 0%);
    }
    71%, 89% {
        top: 30%;
        background: none;
        border: solid #673c63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(135deg) translate(-80%, 20%);
        -webkit-transform: rotate(135deg) translate(-80%, 20%);
    }
}

@media (max-width: 375px) {
    .hero {
        padding: 50px;
    }
    .home__button {
        padding: 2px;
        font-size: 15px;
    }
    .wrapper {
        z-index: -1000000;
    }
    .home__button {
        letter-spacing: 0.5px;
        margin-right: 70px;
    }

   
}

@media (max-width: 600px) {

    body {
        overflow-y: hidden;
    }

    html {
        overflow-y: hidden;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .hero {

        margin: center;
      width: 50%;
      padding: 10px;
      text-align: center;
     }
}